@font-face {
	font-family: BonoboBold;
	src: url(../fonts/Bonobo/Bonobo-Bold.ttf);
}
@font-face {
	font-family: BonoboRegular;
	src: url(../fonts/Bonobo/Bonobo-Regular.ttf);
}

:root {
	--clr-primary: #5567ae;
	--clr-header: rgba(85, 103, 174, 0.5);
	--clr-accent: #f5ce5d;
	--clr-neutral: #fff;
	--clr-neutral-dark: #2d323f;
	--clr-font: #fff;
}

*,
*::before,
*::after {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

html {
	background-color: var(--clr-primary);
}

header {
	background: var(--clr-primary);
	text-align: center;
	position: relative;
	z-index: 999;
	width: 100%;
}

.logo {
	height: 4rem;
}

nav {
	position: absolute;
	text-align: left;
	top: 100%;
	left: 0;
	background: var(--clr-header);
	width: 100%;
	transform: scale(1, 0);
	transition: transform 250ms ease-in-out;
	transform-origin: top;
	padding-bottom: 1em;
}

.nav-toggle {
	display: none;
}

.nav-toggle:checked ~ nav a {
	opacity: 1;
	transition: opacity 250ms ease-in-out 200ms;
}

.nav-toggle:checked ~ nav {
	transform: scale(1, 1);
}

.nav-toggle-label {
	cursor: pointer;
	position: absolute;
	top: -5%;
	left: 0;
	margin-left: 0.5em;
	height: 100%;
	display: flex;
	align-items: center;
	font-size: 2rem;
	color: white;
	transition: 150ms ease-in-out;
}

.nav-toggle:checked ~ .nav-toggle-label {
	transform: rotate(90deg);
}

nav ul {
	list-style-type: none;
	display: flex;
	flex-direction: column;
	gap: 0.5em;
	margin-left: 1rem;
}

nav ul li {
	cursor: pointer;
}

nav ul li a {
	cursor: pointer;
	position: relative;
	text-decoration: none;
	color: var(--clr-font);
	font-family: BonoboBold;
	font-size: 1.5rem;
	opacity: 0;
	transition: opacity 250ms ease-in-out;
}

nav ul li a::after {
	content: "";
	position: absolute;
	bottom: -0.1em;
	left: 0;
	background-color: var(--clr-accent);
	width: 100%;
	height: 2px;
	border-radius: 16px;
	transform: scaleX(0);
	transition: transform 350ms ease;
}

nav ul li a:hover::after {
	transform: scaleX(1);
}

.bp-img {
	width: 100%;
}

.options-container {
	display: flex;
	align-items: center;
	flex-direction: column;
	gap: 1em;
	margin-top: 1em;
}

.days-container {
	min-width: 13rem;
	justify-content: center;
	justify-self: center;
}

.days-container label,
.welkin-container label,
.bp-container label {
	font-family: BonoboRegular;
	font-size: 1.5rem;
	color: var(--clr-font);
	margin-inline: 0.25em;
}

.days-container input[type="number"] {
	width: 8rem;
	height: 2.5rem;
	-webkit-appearance: none;
	appearance: textfield;
	font-family: BonoboRegular;
	font-size: 1.5rem;
	color: var(--clr-font);
	text-align: center;
	border: 3px solid var(--clr-accent);
	border-radius: 16px;
	background-color: transparent;
}

.days-container input[type="number"]::-webkit-inner-spin-button {
	-webkit-appearance: none;
}

.days-container input[type="number"]:focus-visible {
	outline: none;
}

.welkin-container,
.bp-container {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-self: center;
}

.welkin-container img,
.bp-container img {
	width: 5rem;
}

.welkin-container label {
	width: 11ch;
}

.welkin-container input[type="checkbox"],
.bp-container input[type="checkbox"] {
	appearance: none;
	-webkit-appearance: none;
	border: 2px solid var(--clr-accent);
	font: inherit;
	color: var(--clr-accent);
	width: 1.5em;
	aspect-ratio: 1;
	border-radius: 50%;
}

.welkin-container input[type="checkbox"]:checked,
.bp-container input[type="checkbox"]:checked {
	/* background-color: #7c96ff; */
	background-image: url(../image/icon-box.png);
	background-size: 80%;
	background-position: center;
	background-repeat: no-repeat;
}

.total-container {
	display: grid;
	justify-content: center;
	gap: 0.75em;
	margin-block: 1.5em;
}

.total-container h3 {
	font-family: BonoboRegular;
	font-size: 1.75rem;
	color: var(--clr-font);
	text-align: center;
	justify-self: center;
}

.total-container .total-count {
	position: relative;
	font-family: BonoboRegular;
	font-size: 1.25rem;
	text-align: center;
	color: var(--clr-font);
	display: grid;
	align-items: center;
	width: 15rem;
	padding-block: 0.5em;
	justify-self: center;
	border: 3px solid var(--clr-accent);
	border-radius: 20px;
}

.total-count img {
	width: 1.5em;
	position: absolute;
	left: 1em;
}

.total-container #count {
	cursor: pointer;
	position: relative;
	font-family: BonoboBold;
	font-size: 1.5rem;
	color: var(--clr-font);
	background-color: var(--clr-neutral-dark);
	width: max-content;
	justify-self: center;
	text-align: center;
	/* border: 3px solid var(--clr-accent); */
	padding-block: 0.25em;
	padding-inline: 0.5em;
	border-radius: 12px;
	transition: all 350ms ease-in-out;
}

.total-container #count::after {
	content: "";
	position: absolute;
	inset: 0;
	width: 100%;
	height: 100%;
	border: 3px solid var(--clr-accent);
	border-radius: 12px;
	/* transform: scale(0) rotateX(0deg); */
	transition: transform 350ms ease-in-out;
}

.total-container #count:hover::after {
	/* animation: spinny 500ms linear both; */
	transform: rotateX(180deg);
}

@keyframes spinny {
	50% {
		transform: scale(1);
	}
	100% {
		transform: scale(1) rotateX(180deg);
	}
}

.footer {
	width: 100%;
	height: auto;
	color: var(--clr-font);
	font-family: BonoboRegular;
	background-color: var(--clr-neutral-dark);
	padding-left: 1em;
	padding-block: 1em;
	margin-bottom: 0;
}

.footer a {
	text-decoration: none;
	color: var(--clr-accent);
}

.footer span {
	color: var(--clr-accent);
}

/* Contributors Section: */

.main-contributors {
	font-family: BonoboBold;
	font-size: 1em;
	margin-left: 4em;
	margin-top: 2em;
}

.contributor-img {
	width: 100%;
}

/* .contributor-title {
	color: var(--clr-font);
	margin-bottom: 1em;
} */

.contributor-person {
	color: var(--clr-font);
	margin-bottom: .5em;
}

.contributor-person a {
	text-decoration: none;
	color: var(--clr-accent);
}

.footer-bottom {
	font-family: BonoboRegular;
	background-color: var(--clr-neutral-dark);
	color: var(--clr-font);
	text-align: center;
	position: absolute;
	bottom: 0;
	width: 100%;
	height: auto;
	padding: 20px;
}

.footer-bottom span {
	color: var(--clr-accent);
}

@media screen and (min-width: 1000px) {
	.nav-toggle-label {
		display: none;
	}

	header {
		width: 100%;
		background-color: var(--clr-header);
		display: flex;
		flex-direction: row;
		position: fixed;
	}

	.logo {
		margin-left: 2em;
	}

	nav {
		all: unset;
		margin-block: auto;
		margin-left: auto;
		margin-right: 2em;
	}

	nav ul {
		all: unset;
		list-style-type: none;
		display: flex;
		flex-direction: row;
		gap: 3em;
	}

	nav ul li a {
		all: unset;
		position: relative;
		text-decoration: none;
		color: var(--clr-font);
		font-family: BonoboBold;
		font-size: 1.25rem;
	}

	.options-container {
		display: flex;
		justify-content: center;
		flex-direction: row;
		gap: 5em;
	}

	.main-contributors {
		font-size: 1.5em;
		font-family: BonoboRegular;
	}

	.contributor-person {
		margin-bottom: 0.5em;
	}
}
